!!!
%html
  %head
  %body
    .flash-box
    .wrapper
      .side-left
        .left-header
          %p.left-header__user-name masa
          %ul.user-menu
            %li.user-menu__edit-user
              = link_to new_group_path do
                %i.fa.fa-edit
            %li.user-menu__new-group
              = link_to edit_user_path(current_user) do
                %i.fa.fa-cog
        .groups
          .group
            .group__group-name masa
            .group__latest-message こんにちは
            
      .side-right
        .right-header
          .current-group
            %h2.current-group__name あ
            %ul.member-list
              Member：
              %li.member-list__member masa
          = link_to do
            .right-header__edit-btn Edit
              
        .messages
          = render @messages
        .form
          = form_for [@group, @message], html: {class: 'new-message'} do |f|
            .input-boxs
            = f.text_field :content, class: 'input-boxs__text', placeholder: 'type a message' 
            .label
              = f.label :image, class: 'label-image' do
                = fa_icon 'picture-o', class: 'image' 
                = f.file_field :image, class: 'label-image__input' 
            = f.submit 'Send', class: 'new-message__edit-btn'

-# .form
-#  .new-message
-#    .input-box
-#       %input.input-box__text{placeholder: "メッセージを入力してください。", type: "text"}
-#       %label.label-image{for: "message_image"}
-#         %i.fa.fa-image
-#         %input.label-image__input{type: "file", id: "message_image"}
-#   %input.new-message__edit-btn{type: "submit", value: "Send"}


-# .form
-#       = form_for [@group, @message] do |f|
-#         = f.text_field :content, class: 'form__message', placeholder: 'type a message'
-#         .form__mask
-#           = f.label :image, class: 'form__mask__image' do
-#             = fa_icon 'picture-o', class: 'icon'
-#             = f.file_field :image, class: 'hidden'
-#         = f.submit 'Send', class: 'form__submit'