!!!
%html
  %head
  %body
    .flash-box
    .wrapper
      .side-left
        .left-header
          %p.left-header__user-name 
            = current_user.name
          %ul.user-menu
            %li.user-menu__edit-user
              = link_to new_group_path do
                %i.fa.fa-edit
            %li.user-menu__new-group
              = link_to edit_user_path(current_user) do
                %i.fa.fa-cog
        .groups
          - current_user.groups.each do |group|
            = link_to group_messages_path(group) do
              .group{"data-group-id": "#{@group.id}"}
                .group__group-name 
                  = group.name
                .group__latest-message 
                  = group.show_last_message
            
      .side-right
        .right-header
          .current-group
            %h2.current-group__name 
              = @group.name
            %ul.member-list
              Members：
              %li.member-list__member
              - @group.users.each do |user|
                = user.name
          = link_to edit_group_path(@group.id) do
            .right-header__edit-btn Edit
              
        .messages
          = render @messages
        .form
          = form_for [@group, @message], html: {class: 'new-message'} do |f|
            .input-boxs
            = f.text_field :content, class: 'input-boxs__text', placeholder: 'type a message' 
            .label
              = f.label :image, class: 'label-image' do
                = fa_icon 'picture-o', class: 'image' 
                = f.file_field :image, class: 'label-image__input' 
            = f.submit 'Send', class: 'new-message__edit-btn'